<nav class="navbar">
      <span class="navbar mb-0 h2">Digital Book Dashboard for Readers and Authors</span>
      <div>
      <form class="form-inline my-2 my-lg-0">
          <a class="btn btn-primary float-right m-2" *ngIf="showSignInSignUp"  routerLink="/searchbooks" >Home</a>
          <a class="btn btn-primary float-right m-2" *ngIf="showSignInSignUp"  routerLink="/signin" >Sign In</a>
          <a class="btn btn-primary float-right m-2" *ngIf="showSignInSignUp" routerLink="/signup" >Sign Up</a>
          <a class="btn btn-primary float-right m-2" *ngIf="!showSignInSignUp"  (click)="signOutClick()" >Sign Out</a>        
        </form>
      </div>
      <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':SignupModaldisplay}">
           <div class="modal-dialog" role="document">
                 <div class="modal-content">
                       <div class="modal-header">
                             <h4 class="modal-title">{{ModalTitle}}</h4>
                             <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                           </div>
                  <div class="modal-body">
                      <app-signup></app-signup>
                           </div>
                       <div class="modal-footer">
                             <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
                           </div>
              </div>
               </div>
   </div>
    
  
    <!-- Sign In Modal -->
    <div class="modal" tabindex="-2" role="dialog"  [ngStyle]="{'display':display}">
      <div class="modal-dialog" role="document">
            <div class="modal-content">
                  <div class="modal-header">
                        <h4 class="modal-title">{{ModalTitle}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                      </div>
             <div class="modal-body">
                 <app-signin></app-signin>
                      </div>
                  <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
                      </div>
         </div>
          </div>
  </div>
    </nav>
    <hr>
    <router-outlet></router-outlet>