    <h5 id="Heading" style="text-align: left;">Search here for various categories of Books.</h5>
    <br/>
    <div class="col-md-1" style="text-align: left;display: inline-block">
      <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
      </div>
      <div class="col-md-2" style="display: inline-block">
          <select class="form-control" #category (change)="onSelected(category.value)" >
            <option value="0">--Select--</option>  
              <option *ngFor="let Categories of CategoryList" value={{Categories.categoryId}}>                
                {{Categories.categoryName}} 
                
              </option>
          </select>
        </div><div class="col-md-1" style="display: inline-block"></div>
    <div class="col-md-1" style="text-align: left;display: inline-block">
        <label for="inputAuthor" class="col-sm-2 col-form-label">Author</label>
      </div>
      <div class="col-md-2" style="display: inline-block">
            <select class="form-control" #authors (change)="onSelectedAuthor(authors.value)">
                <option value="0">--Select--</option>  
                  <option *ngFor="let author of AuthorList" value={{author.userId}}>                
                    {{author.firstName + ' ' +  author.lastName}}  
                    
                  </option>
              </select>
      </div>
      
   <div class="col-md-1" style="display: inline-block"></div>
      <div class="col-md-1"style="text-align: left;display: inline-block">
        <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
      </div>
      <div class="col-md-2" style="display: inline-block">
          <input type="number" class="form-control" [(ngModel)]="price"   placeholder="Price">
        </div>
    <div class="col-md-1 float-right"style="text-align: center;display: inline-block">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary" (click)="searchBooks()">Search</button>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <app-show-books [searchResult]="searchResult"></app-show-books>

