<h6>Welcome {{loginuserName}}</h6>
<hr>
<hr>
    <div class="col-md10" style="float: right;">
    <button type="button" class="btn btn-success" (click)="openModal()">Add Book</button>
    </div>    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Publisher </th>
                <th>Price</th>
                <th>Publish Date</th>
                <th>Book Status</th>
                <!-- <th>Click To Edit</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of searchResult">
                <td>{{ book.bookName}}</td>
                <td>{{ book.publisher}}</td>
                <td>{{ book.price}}</td>
                <td>{{ book.publishedDate | date}}</td>
                <td>{{ book.active}}</td>
                <!-- <td>
                    <button type="button" class="btn btn-info" 
                    data-bs-toggle="modal" data-bs-target="#editbook"
                    (click)="blockBook()"
                    data-backdrop="static" data-keyboard="false">Block Book</button></td> -->
            </tr>
        </tbody>
    </table>
    
    <div>
     <!-- Add Book Modal -->
     <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
              <div class="modal-content">
                    <div class="modal-header">
                          <h4 class="modal-title">{{ModalTitle}}</h4>
                          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                        </div>
               <div class="modal-body">
                   <app-add-book></app-add-book>
                        </div>
                    <div class="modal-footer">
                          <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
                        </div>
           </div>
            </div>
    </div>

    </div>